/node_modules
/app/Http/Controllers/Api/general/*
/public/hot
/public/storage
/storage/*.key
/resources/views/shipments/print2.blade.php
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
